@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import './palette.scss';

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;

  font-family: 'Outfit', sans-serif;

  user-select: none;
}

.container {
  align-items: center;
  flex-direction: column;

  display: flex;

  width: 100vw;
  height: 100vh;

  background-color: $light-gray;

  .attribution {
    justify-content: center;
    display: flex;

    width: 100vw;

    .body {
      position: absolute;
      bottom: 16px;

      font-size: 12px;
      color: $grayish-blue;
      transition: all 0.25s ease-in-out;

      .link {
        font-weight: 700;
        text-decoration: none;
        color: $dark-blue;
      }
    }

    @media (min-width: 475px) {
      .body {
        font-size: 18px;
      }
    }
  }
}
