@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import './palette.scss';

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;

  font-family: 'Outfit', sans-serif;
}

.container {
  align-items: center;
  flex-direction: column;
  
  display: flex;

  width: 100vw;
  height: 100vh;

  background-color: $light-gray;
}
