@import './palette.scss';

.card {
  flex-direction: column;
  display: flex;

  width: 19.5rem;
  margin: auto;

  border-radius: 0.8rem;
  background-color: $white;

  box-shadow: $grayish-blue 0 1.3rem 4.2rem 0;

  .qr-code {
    margin: 1.4rem;
    border-radius: 0.4rem;
    width: 16.8rem;
  }

  .main-title {
    margin: 0 1.5rem 0.8rem 1.5rem;

    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    color: $dark-blue;
  }

  .main-body {
    margin: 0 1.5rem 2.8rem 1.5rem;

    font-size: .9rem;
    text-align: center;
    color: $grayish-blue;
  }
}
